<body>
  <div class="header">
    <img src="./assets/mesoneer-logo.svg" />
    <h1 style="line-height: 80px">Embedded m_IDeal Showcase</h1>
  </div>

  <div class="input-section">
    <label for="startUrl">URL:</label><br>
    <input type="text" id="startUrl" name="startUrl">
    <br>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" (click)="openModal()">Open Modal</button>
  </div>
  
  <br /><br />
  <hr />
  <div class="status-section">
    <p><b>Result:</b></p>
    <p>
      <span>scanResult: </span>
      <span id="scanResult">No status</span>
    </p>
    <p>
      <span>Timestamp: </span>
      <span id="statusTime">-</span>
    </p>
    <p>
      <span>statusReason: </span>
      <span id="statusReason">-</span>
    <p>
      <span>statusDetails: </span>
      <span id="statusDetails">-</span>
    </p>
  </div>

</body>