<body>
  <div class="header">
    <img src="./assets/ubiid-logo.svg" />
    <h1 style="line-height: 80px">Embedded m_IDeal Showcase</h1>
  </div>

  <div class="input-section">
    <label for="identificationUrl">URL:</label><br>
    <input type="text" id="identificationUrl" name="identificationUrl">
    <br>
    <!-- Trigger/Open The Modal -->
    <button mat-button (click)="openModal()">Open Modal</button>
  </div>
  
  <br /><br />
  <hr />
  <div class="status-section">
    <p><b>Identification Result:</b></p>
    <p>
      <span>ubiidStatus: </span>
      <span id="ubiidStatus">No status</span>
    </p>
    <p>
      <span>Timestamp: </span>
      <span id="ubiidStatusTime">-</span>
    </p>
    <p>
      <span>statusReason: </span>
      <span id="statusReason">-</span>
    <p>
      <span>statusDetails: </span>
      <span id="statusDetails">-</span>
    </p>
  </div>

</body>